.home-section {
  background-image: url("../assets/d03205b471a698a76b26a1e7ec0a8aa335a09ecc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 90vh;
  z-index: 1;
  position: relative;
  background-attachment: fixed;
}

.home-nav {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  z-index: 1;
  position: relative;
}

.home-nav-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15%;
  color: #fff;
  z-index: 1;
  position: relative;
}

.home-nav > img {
  width: 100px;
  margin-left: 100px;
  margin-right: 30px;
  padding: 30px 50px;
  transform: translateX(30px);
  cursor: pointer;
}

.home-nav-tabs > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
}

.home-nav-tabs > ul > li:last-child {
  margin-left: 17%;
}

.home-nav-tabs > ul > li {
  margin: 25px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 14px;
}

.home-nav-tabs > ul > li:hover {
  color: #0088a9;
  transition: all 0.4s ease 0s;
}

.btn-contact {
  background: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid #fff;
  padding: 14px 14px;
  outline: none;
  box-sizing: border-box;
}

.btn-contact:hover {
  background: none;
  color: #0088a9;
  border: 1px solid #0088a9;
  transition: all 0.4s ease 0s;
}

.home-text {
  max-height: 300px;
  position: absolute;
  bottom: 180px;
  width: 40%;
  text-align: justify;
  color: #ffffff;
  left: 15%;
  right: 85%;
  z-index: 1;
}

.hamburger-menu-btn {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hamburger-menu-btn:focus {
    outline: none;
  }

@media only screen and (max-width: 1100px) {
  .home-nav > img {
    margin-left: 0;
    padding: 30px 50px;
  }
}

@media only screen and (max-width: 990px) {
  .home-section {
    background-position-x: 84%;
  }
}

@media only screen and (max-width: 805px) {
  .home-nav > img {
    margin-left: 0;
    padding: 30px 0px;
  }
}

@media only screen and (max-width: 590px) {
  .home-nav-tabs > ul > li:last-child {
    margin-left: 9%;
  }

  .home-text {
    bottom: 180px;
    width: 53%;
    left: 9%;
    right: 91%;
    color: #ffffff;
    font-size: 13px;
    max-height: 240px;
  }

  .home-section {
    background-position-x: 84%;
  }

  .layer {
    background-color: rgba(36, 37, 42, 0.2);
  }
}

@media only screen and (max-width: 550px) {
  .home-nav-tabs > ul > li {
    display: none;
  }

  .hamburger-menu-btn {
    display: block;
    right: 0;
    position: absolute;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
